<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="groupe.onze.uclaconcentration">
    import com.facebook.FacebookSdk;
    <uses-permission
        android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="groupe.onze.uclaconcentration.CommunicationService.action.ACTIVITY_STATUS_UPDATE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AdeActivity"
            android:label="@string/title_activity_ade"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Facebook_Activity"
            android:label="Facebook"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Connexion"
            android:label="Connexion à Facebook"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PrefsActivity"
            android:label="@string/title_activity_prefs"
            android:theme="@style/AppTheme" />
        <service
            android:name=".TimerService"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".TestActivity" />
        <activity
            android:name=".StoreActivity"/>
        <service
            android:name=".SensorService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>
</manifest>
